<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2> G$K Company Home Page!!</h2>
<hr>
<p>
    Welcome to the G$K company home page!
</p>
<hr>

<p>
    User: <span sec:authentication="principal.username"></span>
    <br><br>
    Role(s): <span sec:authentication="principal.authorities"></span>
</p>

<hr>
<div sec:authorize="hasRole('MANAGER')">
<!-- Add a link to point to leaders... this for managers -->
<p>
    <a th:href="@{/leaders}">Leadership Meeting</a>
    Only for Manager Peeps.
</p>
</div>

<div sec:authorize="hasRole('ADMIN')">
<!-- Add a link to point to systems... this for admin -->
<p>
    <a th:href="@{/systems}">IT Systems Meeting</a>
    Only for Admin Peeps.
</p>
</div>
<form action="#" th:action="@{/logout}" method="post">

    <input type="submit" value="Logout" class="btn btn-outline-primary mt-2" />
</form>
</body>
</html>